
@model Crud.NorthW.App.MVC.Models.ShippersView

@{
    ViewBag.Title = "Add";
}

<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar Shipper
    </button>

    <!-- Modal Add -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Shipper</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add Form -->
                    @using (@Html.BeginForm("Add", "Shippers", FormMethod.Post))
                    {
                        @Html.LabelFor(shipper => shipper.CompanyName, new { @class = "form-label" })
                        @Html.TextBoxFor(shipper => shipper.CompanyName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(shipper => shipper.CompanyName, null, new { @class = "text-danger" })
                        <br />
                        @Html.LabelFor(shipper => shipper.Phone, new { @class = "form-label" })
                        @Html.TextBoxFor(shipper => shipper.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(shipper => shipper.Phone, null, new { @class = "text-danger" })
                        <br />
                        <button class="btn btn-primary mt-2">Guardar</button>
                    }
                    <!-- End Add Form -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
